@import "./variables.css";
@import "./public/public.css";
@import "./private/private.css";
@import "./dashboard/dashboard.css";
@import "./auth.css";
@import "./layout.css";
@import "./base.css";
@import "./private/notif.css";
@import "./private/book.css";
@import "./private/cart.css";

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul{
  list-style: none;
}

.section {
  padding: 100px 0;
}

@media (max-width: 992px) {
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

button,
button span {
  -webkit-text-fill-color: inherit !important;
}

