@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary: #AD343E;

  --neutral-01: #FFFFFF;
  --neutral-02: #F9F9F7;
  --neutral-03: #D8DFD0;
  --neutral-04: #ADB29E;
  --neutral-05: #737865;
  --neutral-06: #414536;
  --neutral-07: #2C2F24;
  --neutral-08: #182226;
  --neutral-09: #474747;
  --neutral-10: #5c5c5c;
  --neutral-11: #f2f3f0;
  --text-strong: #182226;

  --font-heading: "Playfair Display", serif;
  --font-body: "DM Sans", sans-serif;

  --h1-size: clamp(32px, 8vw, 100px);
  --h1-line: clamp(44px, 7vw, 96px);

  --h2-size: clamp(26px, 5vw, 55px);
  --h2-line: clamp(30px, 5.5vw, 60.5px);

  --h3-size: clamp(18px, 3vw, 24px);
  --h3-line: clamp(22px, 3.5vw, 30px);

  --body-sm-size: clamp(13px, 2vw, 14px);
  --body-sm-line: clamp(18px, 2.5vw, 20px);

  --body-md-size: clamp(14px, 2.2vw, 16px);
  --body-md-line: clamp(20px, 2.8vw, 24px);

  --body-lg-size: clamp(16px, 2.5vw, 18px);
  --body-lg-line: clamp(22px, 3vw, 28px);

  --body-xl-size: clamp(18px, 3vw, 20px);
  --body-xl-line: clamp(24px, 3.2vw, 32px);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --transition: all 0.3s ease;
  --radius-sm: 8px;
  --radius-md: 16px;

  --shadow-hover: 0 10px 25px rgba(0, 0, 0, 0.08);
}