.booking-page {
    background: var(--neutral-02);
    justify-content: center;
}


.booking-hero p {
    max-width: 500px;
    margin: auto;
    color: var(--neutral-05);
}

.booking-card-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.booking-card {
    background: var(--neutral-01);
    padding: 32px;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
    border: none;
}

.flatpickr-input {
    padding-right: 44px;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 18px;
}

.date-picker .flatpickr-input {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10h5v5H7z'/><path d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z'/></svg>");
}

.time-picker .flatpickr-input {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
}

.booking-card input,
.booking-card select {
    width: 100%;

}

.booking-card .contact-field input:focus,
.booking-card .contact-field select:focus {
    border-color: var(--primary);
    box-shadow: none;
}



.booking-card select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center;
    padding-right: 40px;
}



.booking-btn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.booking-btn:hover {
    opacity: 0.9;
}

.booking-btn:disabled {
    opacity: 0.6;
}

.booking-map {
    height: 700px;
    background-image: url("../../assets/Book/map.svg");
    background-size: cover;
    background-position: center;
    margin-top: -200px;
}

@media (max-width: 768px) {
    .booking-card select {
        background-position: right 10px center;
        padding-right: 28px;
        background-size: 14px;
    }

    .field-row {
        flex-direction: column;
    }

    .booking-map {
        height: 400px;
        margin-top: -100px;
    }
}