.notif-page {
    min-height: 100vh;
    background: var(--neutral-02);
    padding: 40px 20px;
}

.notif-page-header {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.notif-page-header h2 {
    margin: 0;
}

.notif-page-header p {
    margin: 5px 0 0;
    color: var(--neutral-05);
}


.notif-filter {
    display: flex;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;

}

.notif-filter button {
    border: none;
    padding: 6px 14px;
    border-radius: 999px;
    background: var(--neutral-03);
    cursor: pointer;
    transition: var(--transition);
}

.notif-filter button.active {
    background: var(--primary);
    color: white;
}


.notif-page-body {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.notif-card {
    background: var(--neutral-01);
    padding: 16px;
    border-radius: var(--radius-md);
    border: 1px solid var(--neutral-03);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.notif-card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-hover);
}

.notif-card-title {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.notif-card-msg {
    margin: 6px 0 0;
    color: var(--neutral-05);
}

.notif-card.unread {
    background: rgba(13, 110, 253, 0.08);
    border-left: 4px solid var(--primary);
}

.notif-card.read {
    opacity: 0.6;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary);
}

.read-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #2ecc71;
}


.notif-empty {
    text-align: center;
    color: var(--neutral-05);
    padding: 40px;
}


@media (max-width: 768px) {
    .notif-filter {
        flex-wrap: wrap;
    }
}

.notif-time {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: var(--neutral-05);
}

.icon-badge-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-btn {
    position: relative;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: none;
    box-shadow: none;
    padding: 0;
    display: inline-flex;
}


.notif-badge {
    position: absolute;
    top: -6px;
    right: -6px;

    min-width: 18px;
    height: 18px;
    padding: 0 5px;

    background: #ff3b3b;
    color: #fff;

    font-size: 11px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 999px;
    line-height: 1;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .notif-badge {
        top: -5px;
        right: -5px;
        min-width: 16px;
        height: 16px;
        font-size: 10px;
    }
}